/* Milliways background image source: https://pin.it/h3dR6A7
I hosted this image externally for use in my page background.
The creators of this image have my permission to eject me into space if they disapprove of my use of their artwork. */


@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


body {
    background-image: url(https://i.postimg.cc/kD0PRws0/milliways2.jpg);
  color: white;
  background-repeat: repeat;
  font-family: serif;
}

.form-container {
    background-color: black;
  opacity: 0.9;
    padding: 2rem;
  max-width: 50%;
  margin-left: 25%;
  border-radius: 10px;
}

#title {
  font-family: "Arvo", serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
}

#description {
  font-family: "Arvo", serif;
  font-size: 1.4rem;
    text-shadow: 1px 1px 2px white;
}

#title, #description {
  text-align: center;
}

form label, form p {
  color: white;
  font-size: 1.2rem;
}

#name-label, #email-label, #number-label {
  padding: 1.2rem 0;
  display: block;
}

label {
  display: block;
  padding: 0.5rem;
}


.text-field, select {
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
}

#comment-box {
  width: 80%;
  margin-bottom: 1rem;
  resize: vertical;
}

#submit {
  width: 80%;
  padding: 1rem 0;
  background-color: #00A300;
  color: white;
  font-weight: bold;
}

#submit:hover {
  cursor: pointer;
}

.text-field, #comment-box, #submit {
  opacity: 1;
}

